@import "@/assets/styles/mixin";

.goods-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  .goods-item {
    width: calc((100% - 60px) / 2);
    padding-left: 20px;
    margin-bottom: 20px;
    .img-container {
      height: 519px;
      width: 100%;
    }
    .tag-container {
      font-size: 24px;
      vertical-align: middle;
      display: flex;
      justify-content: flex-start;
      margin-top: 4px;
      .vip-tag {
        padding: 0 2px;
        color: #fff;
        background: #d87182;
        border-radius: 2px;
        border: 1px solid #d87182;
        margin-right: 4px;
      }
      .limit_tag {
        padding: 0 2px;
        color: #fff;
        // background: #D87182;
        border-radius: 2px 0 0 2px;
        // border: 1px solid #D87182;
        margin-right: 4px;
        background: #555;
        border: 1px solid #555;
      }
      .price-tag {
        padding: 0 5px;
        color: #999;
        border-radius: 2px;
        border: 2px solid #999;
      }
    }
    .span,
    text {
      display: block;
      color: #666;
      font-size: 26px;
      line-height: 36px;
    }
  }
}
